# Remove.bg API Key
# Lấy API key từ: https://www.remove.bg/vi/api
REMOVE_BG_API_KEY=your_api_key_here

# Port cho server
PORT=3005

# DigitalOcean Spaces Configuration
DO_SPACES_KEY=DO00PYQ2B3NAQ63B3B36
DO_SPACES_SECRET=6V1HZnLmvHna+r2tBWvm+1Oczg0TyFQAyOIXbvHmcpw
DO_SPACES_BUCKET=trumpany123
DO_REGION=nyc3
DO_ENDPOINT=nyc3.digitaloceanspaces.com
